/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: hsl(233, 47%, 7%);
  line-height: 1.7;
  font-weight: 400;
}

.card {
  background-color: hsl(244, 38%, 16%);
  width: 90%;
  margin: 10rem auto 0;
  border-radius: 1.2rem;
  overflow: hidden;
}

.card-top {
  height: 28rem;
  background-image: linear-gradient(
      hsla(277, 100%, 29%, 0.5),
      rgba(103, 0, 167, 0.4)
    ),
    url(images/image-header-mobile.jpg);

  background-size: cover;
}

.card-middle {
  text-align: center;
  padding: 3rem;
}

.heading {
  color: #fff;
  line-height: 1.2;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.paragraph {
  color: hsla(0, 0%, 100%, 0.75);
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: hsla(0, 0%, 100%, 0.6);
  padding-bottom: 3rem;
}

.stat {
  text-align: center;
}

.number {
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
}

.stat-heading {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1.7px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) {
  .card-bottom {
    flex-direction: row;
    justify-content: space-around;
  }
  .card-top {
    height: 35rem;
  }
}

@media screen and (min-width: 800px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    max-width: 100rem;
  }

  .heading {
    text-align: left;
  }

  .paragraph {
    text-align: left;
  }

  .card-top {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: linear-gradient(
        hsla(277, 100%, 29%, 0.5),
        rgba(103, 0, 167, 0.4)
      ),
      url(images/image-header-desktop.jpg);
    background-position: top right;
  }

  .card-middle {
    padding: 10%;
  }

  .card-bottom {
    padding-bottom: 10%;
    padding-left: 10%;

    justify-content: space-between;
  }

  .stat {
    text-align: left;
  }
}
